
<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    {% load static %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointments</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style_dash_2.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
  </head>
  <body>
  {% load static %}
    <input type="checkbox" id="check">
    <!--header area start-->
    <header class="py-2 pb-5">
      <label for="check">
        <i class="fas fa-bars" id="sidebar_btn"></i>
      </label>
      <div class="left_area">
        <h3>Covid Care</h3>
      </div>
      <div class="right_area">
        <a href="{% url 'logout' %}" class="logout_btn">Logout</a>
      </div>
    </header>
    <!--header area end-->
    <!--mobile navigation bar start-->
    <div class="mobile_nav">
      <div class="nav_bar">
        <img src="{% static 'static/img/1.png' %}" class="mobile_profile_image" alt="">
        <i class="fa fa-bars nav_btn"></i>
      </div>
      <div class="mobile_nav_items">
        <a href="{% url 'p_home' %}"><i class="fas fa-home"></i><span>Home</span></a>
        <a href="{% url 'profile' %}"><i class="fas fa-user"></i><span>Profile</span></a>
        <a href="{% url 'viewappointments' %}"><i class="fas fa-th"></i><span>View Appointment</span></a>

      </div>
    </div>
    <!--mobile navigation bar end-->
    <!--sidebar start-->
    <div class="sidebar">
      <div class="profile_info">
        <img src="{% static 'static/img/1.png' %}" class="profile_image" alt="">
        <h4 style="color:white">Appointments</h4>
      </div>
      <a href="{% url 'p_home' %}"><i class="fas fa-home"></i><span>Home</span></a>
        <a href="{% url 'profile' %}"><i class="fas fa-user"></i><span>Profile</span></a>
        <a href="{% url 'viewappointments' %}"><i class="fas fa-th"></i><span>View Appointment</span></a>

    </div>
    <!--sidebar end-->
  <div class="content mt-5">
      <div class="card mt-5 py-4">



<div class="page-content-wrapper">

                <h2 class="text-center">UPCOMING APPOINTMENTS</h2>
                <div class="text-center" role="tablist" id="accordion-1">
                    {% for i in upcoming_appointments %}
                    <ul class = "collapsible popout text-center" data-collapsible = "accordion">
                        <li class="card">
                            <div class = "card-header collapsible-header">
                                <h5 style="color:blue;"><a><i class="fa fa-calendar-check-o"></i>  {{ i.patientname }} appointment with {{ i.doctorname }} on {{i.appointmentdate}}</a></h5>
                            </div>
                            <div class = "card-body collapsible-body">
                                <table align="center" class="card-text" style="font-size: 19px;">
                                    <tr>
                                        <td>Doctor Name:</td>
                                        <td>{{i.doctorname}}</td>
                                    </tr>
                                    <tr>
                                        <td>Patient Name:</td>
                                        <td>{{i.patientname}}</td>
                                    </tr>
                                    <tr>
                                        <td>Appointment Date:</td>
                                        <td>{{i.appointmentdate}}</td>
                                    </tr>
                                    <tr>
                                        <td>Appointment Time:</td>
                                        <td>{{i.appointmenttime}}</td>
                                    </tr>
                                    <tr>
                                        <td>Symptoms:</td>
                                        <td>{{i.symptoms}}</td>
                                    </tr>
                                     <tr>
                                        <td>Add Prescription:</td>
                                        <form method="post" >
                                        <td>{% csrf_token %}
                                            <textarea class="form-control" name="prescription"></textarea>
                                            <input type="hidden" value="{{i.id}}" name="idofappointment">
                                            </td>
                                            <td><input type="submit" class="btn btn-danger "value="Add Prescription"></td>
                                        </form>
                                    </tr>
                                </table>
                            </div>
                        </li>
                    </ul>
                    {% endfor %}
                </div>
    <hr>
                <h2 class="text-center">PREVIOUS APPIONTMENTS</h2>
                <div class="text-center" role="tablist" id="accordion-2">
                    {% for j in previous_appointments %}
                    <ul class = "collapsible popout text-center" data-collapsible = "accordion">
                        <li class="card">
                            <div class = "card-header collapsible-header">
                                <h5 style="color:blue;"><a><i class="fa fa-calendar-check-o"></i>  {{ j.patientname }} appointment with {{ j.doctorname }} on {{j.appointdate}}</a></h5>
                            </div>
                            <div class = "card-body collapsible-body">
                                <table align="center" class="card-text" style="font-size: 19px;">
                                    <tr>
                                        <td>Doctor Name:</td>
                                        <td>{{j.doctorname}}</td>
                                    </tr>
                                    <tr>
                                        <td>Patient Name:</td>
                                        <td>{{j.patientname}}</td>
                                    </tr>
                                    <tr>
                                        <td>Appointment Date:</td>
                                        <td>{{j.appointmentdate}}</td>
                                    </tr>
                                    <tr>
                                        <td>Appointment Time:</td>
                                        <td>{{j.appointmenttime}}</td>
                                    </tr>
                                    <tr>
                                        <td>Symptoms:</td>
                                        <td>{{j.symptoms}}</td>
                                    </tr>
                                    <tr>
                                        <td>Prescription:</td>
                                        <td>{{j.prescription}}</td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                    </ul>
                    {% endfor %}
                </div>
            </div>
        </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
      $('.nav_btn').click(function(){
        $('.mobile_nav_items').toggleClass('active');
      });
    });
    </script>

     <script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/back-to-top-scroll.js' %}"></script>
<script src="{% static 'js/Bold-BS4-Animated-Back-To-Top.js' %}"></script>
<script src="{% static 'js/bs-init.js' %}"></script>
<script src="{% static 'js/Sidebar-Menu.js' %}"></script>
  </body>
</html>



